* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
}

/* Nav module */

.logo {
    width: 144.51px;
    height: 41px;
}


/* Footer module */



/* Home Content module */